#wd-courses-navigation .list-group-item {
    color: red !important;
    border-left: 4px solid transparent;
    background-color: transparent;
}

#wd-courses-navigation .list-group-item.active {
    color: black !important;
    border-left: 4px solid black !important;
    background-color: transparent !important;
}

#wd-courses-navigation .list-group-item:focus,
#wd-courses-navigation .list-group-item:active {
    outline: none;
    box-shadow: none !important;
    background-color: transparent !important;
}